body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}
